:root{
    --customLightBlue: #0065fc;
    --customDarkBlue: #deebff;
    --customGrey: #d9d9d9;
}
    
    
select * {
    margin:0;
    padding:0;
}
body{
    font-family: 'raleway', sans-serif;
    padding:0 2.5%;
    max-width: 1400px;
    margin:0 auto;
}

.flex{
    display:flex;
}
img{
    width: 100px;
}
a{
text-decoration: none;;
}
#nav-header{
    justify-content: space-between;
    margin-top:0;
}
#header-logo{
    height:19px;
    align-self: center;
    padding-left: 20px;;
}
#navbar{
    list-style: none;
    margin-top: 0;   
}
.navbar-part{
    display:flex;
    align-content: center;
    padding:25px;
    box-sizing:border-box;
    border:5px solid white;
    color:black;
    flex-wrap: wrap;
}
ul#navbar{
    margin:auto 0;
}
li#navbar-part{
    align-self: center;
    box-sizing: border-box;
}
a li:hover{
    box-sizing: border-box;
    color:#0065fc;
    border-top: 3px solid #0065fc;
}

/*--------------- section "Hébergements"       */
#second-section{
    justify-content: space-between;
}

#hosting{
    flex-direction:column;
    background-color: #d9d9d9;
    border-radius: 20px;
    width:65%;
    padding:0 10px;
}
.title-section{
    padding-left:20px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}
.card-title{
    font-family: 'Raleway',sans-serif;
    font-style: bold;
    font-size: 18px;
    line-height: 20px;
    margin:0;

}
div.card-hosting{
    flex-wrap: wrap;
    justify-content:space-between;
}
article.card-hosting{
    box-sizing: border-box;
    border:5px solid white;
    flex-direction:column;
    width:30%;
    background-color: white;
    border-radius:20px;
    margin:10px 10px;
}

img.card-hosting{   
border-top-left-radius:20px;
border-top-right-radius:20px;
width:100%;
height:166.14px;
object-fit:cover
}
.stars{
    margin:20px 0 0px;
    color:#0065fc;
    align-items: flex-end;
}

#hosting p{
    font-weight:bold;
    font-size:20px;
    padding:10px;
}

/*--------------- section "Les plus populaires"       */

#popularity{
    flex-direction: column;
    width:30%;
    
    border-radius:20px;
    background-color: #d9d9d9;
    padding:0 10px;

}
.rich{
    flex-direction:column;
    justify-items: flex-start;
}
article.card-popularity{
    box-sizing: border-box;
    border:5px solid white;
    flex-direction: row;
    background-color: white;
    border-radius:20px;
    width:90%;
    margin:10px auto;
}

div.card-popularity{
    flex-direction:column;
    justify-content: space-around  ;
    width:auto;
    height:100%
    
}
img.card-popularity{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width:40%;
    height:150px;
    object-fit: cover;
}

div.content-card{
    flex-direction:column;
    justify-content: space-between;
    padding:10px
}
.content-card p{
    margin:0;
}
/*--------------- section "ACTIVITES A MARSEILLE"-----------------------*/

#section-activities{
    flex-direction:column;
    justify-content: space-around;
}
div.activities{
    flex-direction: row;
    width:100%;
   
}
article.card-activities{
    flex-direction:column;
    justify-items: center;
    justify-content: center;
    margin:10px;
    border-radius:20px;
    height:442px;
    width:25%;
    box-shadow: 0px 10px 10px #d9d9d9;
}
div.card-activities{
    height:90%;
}
img.card-activities{
    height:400px;
    width:100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h3.card-activities{
    padding:0 20px;
}
